
.agentimg {
  width: 100vw;
  height: 300px;
}

.agentout {
  height: 25px;
  margin: auto;
}

.income,
.total-travelers {
  font-size: 3rem;
  margin: 2%;
  text-align: center;
}

// .agentHeader {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
// }

