/* --------------Card Section Start--------------*/
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-gap: 20px;
  overflow: visible;
}

.img-container {
  position: relative;
  text-align: center;
  height: 45%;
}

.card {
  background-color:#b5d0d4;
  border-radius: 1rem;
  height: 300px;
  width: 250px;
}

.pictures {
  height: 100%;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.info {
  margin: 3%;
  padding: 1px;
}

.name {
  font-weight: bolder;
}

.status {
  color: rgb(19, 40, 226);
}

.message {
  font-size: 3rem;
}