@mixin flexStyle($dir) {
  display: flex;
  flex-direction: $dir;
}

@mixin inputStyle() {
  padding: 12px 20px;
  margin: 35px 0;
  width: 100%;
  border: 1px solid #7ab9c2;
  border-radius: 0.5rem;
}
