$primary-background: linear-gradient(60deg, #7ab9c2, #4d8282, #7ab9c2, #7ab9c2);
$login-background: linear-gradient(-60deg, #76d2e0, #20646e, #76d2e0, #4d8282);
$form-shadow: 0 34px 48px 0 rgba(3, 94, 41, 0.3), 
0 46px 50px 0 rgba(34, 122, 93, 0.9);
$hover-color: rgb(224, 153, 71);